.bg-green{
    background: #047003 !important;
}
.text-green{
    color: green !important;
}
.text-red{
    color: red !important;
}
.full-width{
    width: 100% !important;
}

.no-link{
    text-decoration: none !important;
}
.no-border{
    border: none !important;
}
.ml-auto{
    margin-left: auto !important;
}

h3.text-green{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

.center {
    text-align: center;
}

.form-group {
    margin-bottom: 50px;
}